{% extends "base.html" %} {#继承指定应用模版#}
{% block title %}login in{% endblock %}
{% block content %}
<div class="container center-block">
	{% if form.errors or form.error %}
		<p class="text-warning text-left">
			Please correct the error{{form.errors|pluralize}} below
		</p>
		<li>
			<p "text-warning text-left">
				{{form.error}}
			</p>
		</li>
	{%endif%}
	{#注意form的拼写#}
	<form action="" method="post" role="form" class="form-horizontal">{% csrf_token %}{#自定义应用使用action传url参数时，需注意在url路径最前边加上当前应用路径的前缀;action为空表示表单将提交给与当前页面相同的URL#}
		<div class="form-group">
			<table>
				{{form.as_table}}
			</table>
		</div>
		<div class="form-group">
			<input type="submit" value="Login" class="btn btn-success btn-sm">
		</div>
	</form>
	<a href="/register/" class="btn btn-info btn-sm">register</a>
	</br>
	{% if register_info %}
		{{register_info}}
	{% endif %}
</div>
{% endblock %}